<template>
  <div>
    <h2>My problems</h2>
    <list-problems :problems="this.problems"></list-problems>
  </div>
</template>

<script>
import {problemService} from './../../services/ProblemService';

import listProblems from './../../components/front/listProblems';

export default {
  components: {
    listProblems
  },
  data() {
    return {
      problems: []
    }
  },
  beforeRouteEnter (to, from, next) {
    problemService.getProblemsByUser(window.localStorage.getItem('ps_user')).then(response => {
      next(vm => {
        vm.problems = response.data
      })
    })
  }
}
</script>
