<template>
	<div class="container">
		<section class="jumbotron text-center">
			<div class="container">
				<h1 class="jumbotron-heading">Help each other. Be kind!</h1>
				<p class="lead text-muted">Solve your issues faster or share your solutions to other.</p>
				<p>
					<a href="#" class="btn btn-primary my-2">Main call to action</a>
					<a href="#" class="btn btn-secondary my-2">Secondary action</a>
				</p>
			</div>
		</section>
		<div class="album py-5 bg-light">
			<div class="container">				
					<listProblems :problems="this.problems"></listProblems>
			</div>
			<pagination v-if="pagination.last_page > 1" :pagination="pagination" :offset="6" @paginate="fetchPosts()"></pagination>
		</div>
	</div>
</template>

<script>
import {problemService} from './../services/ProblemService';

import listProblems from './../components/front/listProblems';
import pagination from './../components/Pagination';
export default {
	components: {
		listProblems,
		pagination
	},
	data() {
		return {
			problems: [],
			pagination: {
				current_page: 1
			}
		}
	},

	methods: {
		fetchPosts() {
				problemService.getProblems(this.pagination.current_page).then(response => {		
					this.problems = response.data.data
					let paginationData = {
						current_page: response.data.current_page,
						last_page: response.data.last_page,
						from: response.data.from,
						to: response.data.to,
						total: response.data.total,
						per_page: response.data.per_page
					}
					this.pagination = paginationData						
			})
		}
	},
	created() {
		this.fetchPosts();
		console.log(this.pagination)
	}
}
</script>
