<template>
	<b-container>
		<b-row class="justify-content-md-center">
			<b-col col lg="4">
				<h1 class="text-center">Login</h1>				
				<b-form @submit="login">
					<b-form-group>
						<b-form-input id="emailAddress"
													type="email"
													v-model="form.email"
													placeholder="Enter email address"
													required>
						</b-form-input>
						<b-form-input id="password"
													type="password"
													v-model="form.password"
													placeholder="Enter password"
													required>
						</b-form-input>
						<div v-if="errorLog" class="alert alert-danger">
							{{errorLog}}
						</div>
						<b-button type="submit" variant="primary">Login</b-button>
					</b-form-group>
				</b-form>
			</b-col>
		</b-row>
	</b-container>
</template>

<script>
import {authService} from './../services/AuthService'
import {mapMutations, mapActions} from 'vuex'
export default {
	data() {
		return {
			form: {
				email: '',
				password: ''
			},
			errorLog: ''
		}
	},
	methods: {
		...mapMutations(['setUserLogged']),
		...mapActions(['checkIsAdmin']),
		login(e) {
			e.preventDefault();
			this.errorLog = '';
			authService.login(this.form.email, this.form.password).then(response => {
				this.setUserLogged(true);
				this.checkIsAdmin();
				this.$router.push({name: 'index'});
			}).catch(error => {
				this.errorLog = error.response.data.error;
			})
		}
	}
};
</script>
