<template>
	<div class="container">
		<div class="row">
      <div class="col-md-9 blog-main">
        <h2 class="border-bottom">{{problem.title}}</h2>
        <p class="blog-post-meta">{{problem.created_at | created}} by <a href="#">{{ problem.user.first_name }} {{ problem.user.last_name}}</a></p>
          <ul class="list-inline">
            <li v-for="(category, index) in problem.categories" :key="index" class="list-inline-item">
              <button type="button" class="btn btn-secondary btn-sm">{{ category.name }}</button>
            </li>
          </ul>
        <p v-html="problem.text"></p>
        <div class="comments">
          <h3 class="border-bottom">Comments</h3>
        </div>
      </div>
		</div>
	</div>
</template>

<script>
import {problemService} from './../services/ProblemService';
import {ProblemMixin} from './../mixins'
export default {
  mixins: [ProblemMixin],
  data() {
    return {
      problem: {
        user: {
          first_name: '',
          last_name: ''
        }
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    problemService.getProblemBySlug(to.params.slug).then(response => {
      next(vm => {
        vm.problem = response.data
      })
    })
  }
}
</script>

<style>
  blockquote {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-left: 3px solid #5e5f61;
    padding: 10px 0 10px 10px;
    color: #6c757d;
    font-size: 16px;
    background: #dee2e6;
    font-family: monospace;
  }
</style>