<template>
<div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="#" class="nav-link">Problems <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a href="#" class="nav-link">Categories</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Create New Gallery</a></li>
      </ul>
    </div>

    <div class="ms-auto order-0">
      <router-link :to="{name: 'index'}" class="navbar-brand">PopStack</router-link>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">           
      <ul class="navbar-nav ml-auto">       
        <li v-if="!isAuth" class="nav-item"><router-link :to="{name: 'login'}" class="nav-link">Login</router-link></li>
        <li v-if="isAuth" class="nav-item"><a href="/logout" @click.prevent="logout" class="nav-link">Logout</a></li>
        <li v-if="isAuth" class="nav-item"><router-link :to="{name: 'profile'}" class="nav-link">Profile</router-link></li>
        <li v-if="isAuthAdmin" class="nav-item"><router-link :to="{name: 'admin'}" class="nav-link">Dashboard</router-link></li>
        <!--<li class="nav-item">
          <form class="form-inline my-2 my-md-0">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
          </form>
        </li>-->
      </ul>
    </div>
  </div>
</nav>
</div>
</template>

<script>
import {authService} from './../services/AuthService';
import {mapGetters, mapMutations} from 'vuex'
export default {
  methods: {
    ...mapMutations(['setUserLogged', 'setIsAdmin']),
    logout() {
      authService.logout();
      this.setUserLogged(false);
      this.setIsAdmin(false);
      this.$router.push({name: 'login'});
    }
  },
  computed: {
    ...mapGetters({isUserLogged: 'getUserLogged', isAdmin: 'getIsAdmin'}),
    isAuth() {
      if(!this.isUserLogged && window.localStorage.getItem('ps_user')) {
        this.setUserLogged(true);
        return true;
      }
      return this.isUserLogged;
    },
    isAuthAdmin() {
      if(!this.isAdmin && window.localStorage.getItem('ps_role')) {
        this.setIsAdmin(true);
        return true;
      }
      return this.isAdmin;
    }
  }
}
</script>
