<template>
  <div class="nav-scroller bg-white shadow-sm">
    <nav class="nav nav-underline">
      <router-link :to="{name: 'profile'}" class="nav-link active">Dashboard</router-link>
      <router-link :to="{name: 'profileProblems'}" class="nav-link">
        Problems
        <span class="badge badge-pill bg-light align-text-bottom">({{ countProblems }})</span>
      </router-link>
      <router-link :to="{name: 'profileComments'}" class="nav-link">Comments</router-link>
      <router-link :to="{name: 'profileSettings'}" class="nav-link">Settings</router-link>
    </nav>
  </div>
</template>

<script>
import {problemService} from './../services/ProblemService';
export default {
  data() {
    return {
      problems: [],
      countProblems: 0
    }
  },
  mounted() {
    problemService.getProblemsByUser(window.localStorage.getItem('ps_user')).then(response => {
      this.problems = response.data
      this.countProblems = response.data.length
      this.$emit('problems', response.data)
    })
  }
}
</script>
