<template>
  <div>
    <h2>Add new problem</h2>
    <FormProblem :problem="this.problem"></FormProblem>
  </div>
</template>

<script>
import FormProblem from './../../../components/forms/FormProblem.vue';
export default {
  components: {
    FormProblem
  },
  data() {
    return {
      problem: {
        title: '',
        text: '',
        user_id: 1,
        category_ids: []
      }
    }
  }
}
</script>
