<template>
  <div>
      <h2>Edit problem</h2>
      <form-problem :problem="this.problem"></form-problem>
  </div>
</template>

<script>
import FormProblem from './../../../components/forms/FormProblem.vue';
import {problemService} from './../../../services/ProblemService';
export default {
  components: {
    FormProblem
  },
  data() {
    return {
      problem: {
        title: '',
        text: '',
        user_id: 1,
        category_ids: []
      }
    }
  },
  
  beforeRouteEnter (to, from, next) {
    problemService.getProblemById(to.params.id).then(response => {
      let category_ids = [];
      response.data.categories.filter(category => {
        category_ids.push(category.id);
      })
      
      next(vm => {
        vm.problem = response.data
        vm.problem.category_ids = category_ids;
      })
      
    }).catch(error => {
      console.log(error);
    })
  }
}
</script>
