<template>
<div>
  <h2>Add new user</h2>
			<FormUser :user='this.user'></FormUser>
</div>
</template>

<script>
import FormUser from './../../../components/forms/FormUser.vue';

import {userService} from './../../../services/UserService';
export default {
  components: {
    FormUser
  },
  data() {
    return {
      roles: [
        {value: null, text: 'Choose user role'},
        {value: 1, text: 'Admin'},
        {value: 2, text: 'Member'}
      ],
      user: {
        email: '',
        password: '',
        password_confirmation: '',
        first_name: '',
        last_name: '',
        role_id: null,
        avatar: 'dsadsa'
      }
    }
  },
  methods: {
    addUser() {
      console.log(this.user);
      userService.addUser(this.user).then(response => {
        console.log('addUser', response.status);
        if(response.status === 200) {
          this.$router.push({name: 'userAdmin'});
        }
      }).catch(error => {
        console.log('addUserError', error);
      })
    }
  }
}
</script>
