<template>
  <div>
    <h2>Edit user</h2>
    <FormUser :user='this.user'></FormUser>
  </div>
</template>

<script>
import FormUser from './../../../components/forms/FormUser.vue';

import {userService} from './../../../services/UserService';
export default {
  name: 'EditUser',
  components: {
    FormUser
  },
  data() {
    return {
      user: {
        email: '',
        password: '',
        password_confirmation: '',
        first_name: '',
        last_name: '',
        role_id: null,
        avatar: ''
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    //console.log(to);
    userService.getUserById(to.params.id).then(response => {
      next(vm => {
        vm.user.first_name = response.data.first_name;
        vm.user.last_name = response.data.last_name;
        vm.user.email = response.data.email;
        vm.user.role_id = response.data.role_id;
        vm.user.avatar = response.data.avatar;
      });
    }).catch(error => {
      console.log(error);
    });
  }

}
</script>
