<template>
  <div id="app">
    <Header></Header>
    <main role="main">      
      <router-view></router-view>
    </main>
  </div>
</template>

<script>
import Header from "./components/Header.vue";

import axios from 'axios';
import {authService} from './services/AuthService';
import {mapGetters, mapMutations} from 'vuex'
export default {
  name: "app",
  components: {
    Header
  },
  methods: {
    ...mapMutations(['setUserLogged', 'setIsAdmin']),
    logout() {
      authService.logout();
      this.setUserLogged(false);
      this.setIsAdmin(false);
      this.$router.push({name: 'login'});
    }
  },
  created: function() {
    
    axios.interceptors.response.use((response) => {
      return response
    }, function(error) {
      let originalRequest = error.config
      if (error.response.status === 401 && !originalRequest._retry) {
        //this.logout()
        authService.logout();
        this.setUserLogged(false);
        this.setIsAdmin(false);
        this.$router.push({name: 'login'});
      }
    })
  }
};
</script>