<template>
<div>
  <div class="row">
    <h1>Categories</h1>
    <router-link :to="{name: 'addNewCategory'}"><small>Add new category</small></router-link>
  </div>
  <div class="row">
    <div class="col-7">
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Slug</th>
              <th>Parent</th>
              <th>Count</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(category, index) in categories" :key="index">
              <td>{{ category.id }}</td>
              <td>{{ category.name }}</td>
              <td>{{ category.slug }}</td>
              <td>{{ category.parent ? category.parent.name : '-' }}</td>
              <td>0</td>
              <td><a href="#edit" @click.prevent="editCategory(category.id)">EDIT</a> | <a href="#delete" @click.prevent="deleteCategory(category.id)">DELETE</a></td>
            </tr>
          </tbody>
        </table>
      </div>    
    </div>   
    <div class="col-5">
      <form-category 
      :category='category' 
      :opt='categoryFormOptions'
      @cancel="onCancelEdit"
      >
      </form-category>
    </div>
  </div>
</div>
</template>

<script>
import {categoryService} from './../../services/CategoryService';

import FormCategory from './../../components/forms/FormCategory.vue';

import {mapGetters, mapMutations, mapActions} from 'vuex';
export default {
  components: {
    FormCategory
  },
  data() {
    return {
      //categories: [],
      categoryFormOptions: {
        actionLabel: 'Add new',
        btnAdd: true,
        btnEdit: false,
        btnCancel: false
      },
      actionLabel: 'Add new',
      category: {
        name: '',
        parent_id: ''
      }
    }
  },
  computed: {
    ...mapGetters({
      categories: 'getCategories'
    })
  },
  methods: {
    ...mapActions(['fetchCategories']),
    ...mapMutations(['unsetCategory']),
    deleteCategory(id){
      if(confirm('Do you realy want to deltete category?')) {
        categoryService.deleteCategory(id).then(response => {
          let index = this.categories.findIndex(category => category.id === id);
          this.unsetCategory(index);
        }).catch(error => {

        });
      }
    },
    editCategory(id) {
      let category = this.categories.find(category => {
        if(category.id === id) {
          //console.log(category.name);
          this.categoryFormOptions = {
            actionLabel: 'Edit',
            btnAdd: false,
            btnEdit: true,
            btnCancel: true
          };
          return category
        }
      });
      this.category = {
        id: category.id,
        name: category.name,
        parent_id: category.parent_id
      }
    },
    onCancelEdit() {
      this.category = {
        name: '',
        parent_id: null
      }
      this.categoryFormOptions = {
        actionLabel: 'Add new',
        btnAdd: true,
        btnEdit: false,
        btnCancel: false
      };
    }
  },
  created() {
    this.fetchCategories();
  }
}
</script>
