<template>
<div v-if="$route.name === 'problemAdmin'" class="row">
  <h2>Problems</h2>
  <router-link :to="{name: 'addNewProblem'}"><small>Add new Problem</small></router-link>
  <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>            
            <th>Category</th>
            <th>Author</th>
            <th>Created at</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody v-if="problems.length > 0">
          <tr v-for="(problem, index) in problems" :key="index">
            <td>{{problem.id}}</td>
            <td>{{problem.title}}</td>
            <td>
              <ul v-if="problem.categories.length > 0">
                <li v-for="(category, index) in problem.categories" :key="index">
                  {{category.name}}
                </li>
              </ul>
            </td>
            <td>{{problem.user.first_name}} {{problem.user.last_name}}</td>
            <td>{{problem.created_at}}</td>
            <td><router-link :to="{name: 'editProblem', params:{id:problem.id}}">EDIT</router-link> | <a href="#delete" @click.prevent="deleteProblem(problem.id)">DELETE</a></td>
          </tr>         
        </tbody>
        <tbody v-else>
          <tr>
            <th colspan="6">There are no problems yet! :-)</th>
          </tr>
        </tbody>
      </table>
    </div>
</div>
<div v-else class="row">
  <router-view></router-view>
</div>
</template>

<script>
import {problemService} from './../../services/ProblemService';
export default {
  data() {
    return {
      problems: []
    }
  },
  methods: {
    deleteProblem(id) {
      if(confirm('Do you really want to delete problem?')) {
        problemService.deleteProblem(id).then(response => {
          let index = this.problems.findIndex(problem => problem.id === id);
          this.problems.splice(index, 1);
        }).catch(error => {
          console.log(error);
        })
      }
    },
    fetchProblems(data) {
      this.problems = data;
    }
  },
  beforeRouteEnter (to, from, next) {
    problemService.getProblems().then(response => {      
        //this.problems = response.data      
        next(vm => {
          vm.fetchProblems(response.data.data);
        })
      }).catch(error => {
        console.log(error);
      })
  },
  beforeRouteUpdate (to, from, next) {
    //this.problems = [];
    problemService.getProblems().then(response => { 
      this.problems = [];
      this.fetchProblems(response.data.data);
      next();
    }).catch(error => {

    });
  }
}
</script>
