<template>
  <div v-if="$route.name == 'userAdmin'" class="row">
    <h2>Users</h2>
    <router-link :to="{name: 'addNewUser'}"><small v-on:click="hideUsers">Add new user</small></router-link>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(user, index) in users" :key="index">
            <td>{{user.id}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role.name}}</td>
            <td><router-link :to="{name: 'editUser', params: {id:user.id}}">EDIT</router-link> | <a href="#" @click.prevent="deleteUser(user.id)">DELETE</a></td>
          </tr>
        </tbody>
      </table>
    </div>    
  </div>
  <div v-else class="row">
    <router-view></router-view>
  </div>
</template>

<script>
import { userService } from './../../services/UserService';
export default {
  data() {
    return {
      users: [],
      addNewUser: false
    }
  },
  computed: {
    
  },
  methods: {
    hideUsers() {      
      console.log('testttt')
      this.addNewUser = !this.addNewUser
    },
    deleteUser(id) {
      if(confirm('Do you really want to delete user?')) {
        userService.deleteUser(id).then(response => {
          let index = this.users.findIndex(user => user.id === id);
          this.users.splice(index, 1);
        }).catch(error => {

        })
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    //alert('testt');
    userService.getUsers().then(response => {  
      next(vm => {
        vm.users = response.data.users;
      })
    })
  }
}
</script>
