<template>
<div class="container-fluid">
  <div class="row">
    <b-form class="col-12">
      <b-form-group>
        <b-form-input id="title"
                      type="text"
                      v-model="problem.title"
                      placeholder="Enter problem title"
                      required>          
        </b-form-input>
        <ckeditor type="classic" v-model="problem.text"></ckeditor>
        <b-form-select multiple :select-size="6" v-model="problem.category_ids" :options="categoriesOptions" />
        <b-button v-if="this.$route.name === 'addNewProblem'" type="submit" @click.prevent="addCategory">Add</b-button>
        <b-button v-else type="submit" @click.prevent="editCategory">Edit</b-button>
      </b-form-group>
    </b-form>
  </div>
</div>
</template>

<script>
import {problemService} from './../../services/ProblemService';
import {categoryService} from './../../services/CategoryService';

import {mapGetters} from 'vuex';
export default {
  name: 'FormProblem',
  props: {
    problem: {
      type: Object
    }
  },
  data() {
    return {
      categoriesOptions: []
    }
  },
  computed: {
    ...mapGetters({
      categories: 'getCategories'
    })
  },
  created() {
    categoryService.getCategories().then(response => {
      this.categoriesOptions.push({
        value: null,
        text: 'Choose parent category'
      });
      response.data.forEach(category => {
        let cat = {
          value: category.id,
          text: category.name
        }
        this.categoriesOptions.push(cat);
      })
    }).catch(error => {

    });
  },
  methods: {
    addCategory() {
      problemService.addProblem(this.problem).then(response => {
        if(response.status === 200 || response.status === 201) {
          this.$router.push({name: 'problemAdmin'});
        }
      }).catch(error => {
        console.log('addProblemError', error);
      })
    },
    editCategory() {
      problemService.editProblem(this.problem, this.$route.params.id).then(response => {
        if(response.status === 200) {
          this.$router.push({name: 'problemAdmin'});
        }
      }).catch(error => {

      });
    }
  }
}
</script>
