<template>
<div>
  <b-form @submit.prevent="action">
    <b-form-group>
      <b-form-input id="emailAddress"
                    type="email"
                    v-model="user.email"
                    placeholder="Enter email address"
                    required>
      </b-form-input>
      <b-form-input id="password"
                    type="password"
                    v-model="user.password"
                    placeholder="Password"
                    required>
      </b-form-input>
      <b-form-input id="passwordc"
                    type="password"
                    v-model="user.password_confirmation"
                    placeholder="Password confirmation"
                    required>
      </b-form-input>
      <b-form-input id="first_name"
                    type="text"
                    v-model="user.first_name"
                    placeholder="First name"
                    required>
      </b-form-input>
      <b-form-input id="last_name"
                    type="text"
                    v-model="user.last_name"
                    placeholder="Last name"
                    required>
      </b-form-input>
      <b-form-select v-model="user.role_id" :options="roles" />
      <b-form-file id="avatar"
                    type="file"
                    placeholder="Avatar">
      </b-form-file>
      <!-- <b-button type="submit" variant="primary">{{ this.$route.name === 'addNewUser' ? 'Add' : 'Edit' }}</b-button> -->
      <b-button v-if="this.$route.name === 'addNewUser'" @click.prevent="addUser" type="submit" variant="primary">Add</b-button>
      <b-button v-else type="submit" @click.prevent="editUser" variant="primary">Edit</b-button>
    </b-form-group>
  </b-form>
</div>
</template>

<script>
import {userService} from './../../services/UserService';
export default {
  name: 'FormUser',
  props: {
    user: {
      type: Object
    }
  },
  data() {
    return {
      roles: [
        {value: null, text: 'Choose user role'},
        {value: 1, text: 'Admin'},
        {value: 2, text: 'Member'}
      ],
      action: ''
    }
  },
  created: function () {
    console.log('LOGGG', this.$route);
  },
  methods: {
    addUser() {
      console.log(this.user);
      userService.addUser(this.user).then(response => {
        console.log('addUser', response.status);
        if(response.status === 200) {
          this.$router.push({name: 'userAdmin'});
        }
      }).catch(error => {
        console.log('addUserError', error);
      })
    },
    editUser() {
      userService.editUser(this.user, this.$route.params.id).then(response => {
        if(response.status === 200) {
          this.$router.push({name: 'userAdmin'});
        }
      }).catch(error => {
        console.log('addUserError', error);
      })
    }
  }
}
</script>
