<template>
  <div>
    <h3>{{opt.actionLabel}} category</h3>
    <b-form>
      <b-form-group>
        <b-form-input id="emailAddress"
                      type="text"
                      v-model="category.name"
                      placeholder="Category name"
                      required>
        </b-form-input>
        <b-form-select v-model="category.parent_id" :options="categoriesOptions" />
        <!-- <b-form-select v-model="user.role_id" :options="roles" /> -->
        <!-- <b-button type="submit" variant="primary">{{ this.$route.name === 'addNewUser' ? 'Add' : 'Edit' }}</b-button> -->
        <b-button v-if="opt.btnAdd" @click.prevent="addCategory" type="submit" variant="primary">Add</b-button>
        <b-button v-if="opt.btnEdit" @click.prevent="editCategory" variant="primary">Edit</b-button>
        <b-button v-if="opt.btnCancel" @click.prevent="cancel">Cancel</b-button>
      </b-form-group>
    </b-form>
  </div>
</template>

<script>
import {categoryService} from './../../services/CategoryService';

import {mapGetters, mapMutations} from 'vuex';
export default {
  name: 'FormCategory',
  props: {
    category: {
      type: Object
    },
    opt: {
      type: Object
    }
  },
  data() {
    return {
      categoriesOptions: []
    }
  },
  computed: {
    ...mapGetters({
      categories: 'getCategories'
    })
  },
  created() {
    categoryService.getCategories().then(response => {
      this.categoriesOptions.push({
        value: null,
        text: 'Choose parent category'
      });
      response.data.forEach(category => {
        let cat = {
          value: category.id,
          text: category.name
        }
        this.categoriesOptions.push(cat);
      })
    }).catch(error => {

    });
  },
  methods: {
    ...mapMutations(['setCategory', 'updateCategory']),
    addCategory() {
      categoryService.addCategory(this.category).then(response => {
        console.log('DATA>> ', response.data);
        this.setCategory(response.data)
        this.category.name = '';
      }).catch(error => {
        console.log(error);
      })
    },
    editCategory() {
      categoryService.editCategory(this.category, this.category.id).then(response => {
        console.log(response)
        let index = this.categories.findIndex(category => category.id === response.data.id);
        let args = {
          index: index,
          category: response.data
        }
        this.updateCategory(args)
        this.cancel();
      }).catch(error => {
        console.log(error);
      });
    },
    cancel() {
      this.$emit('cancel');
    }
  }
}
</script>
